{% extends "base.html" %}
{% block content %}
  <div class="card">
    <h1>Benvinguts convidats!</h1>
    <p class="muted">A continuació trobaràs 4 enigmes per descobrir l'hora, el dia, el mes i el lloc del casament.</p>
    <p class="muted">Els hauràs de resoldre per aquest mateix ordre.</p>
    <p class="muted">En cada un dels enigmes, hi haurà un desplegable amb una pista que et pot ajudar. Només en cas de necessitat, desplega-ho!</p>
    <p class="muted">Molta sort!</p>
    <div class="misteris">
      {% for i in range(1, total_misteris + 1) %}
        {% set cls = 'pill' %}
        {% if i < current_misteri %}{% set cls = 'pill ok' %}{% endif %}
        {% if i == current_misteri %}{% set cls = 'pill current' %}{% endif %}

        {% if i <= current_misteri %}
          <a class="{{ cls }}" href="{{ url_for('misteri', misteri=i) }}">{{ puzzle[i-1].key }}</a>
        {% else %}
          <span class="{{ cls }}">{{ puzzle[i-1].key }}</span>
        {% endif %}
      {% endfor %}
    </div>

    <p>
      {% if current_misteri > total_misteris %}
        Has resolt tots els {{ total_misteris }} misteris 🎉 Vés al <a href="{{ url_for('victory') }}">Resum</a>.
      {% elif current_misteri == 1   %}
        Clica aquí per resoldre el primer misteri: <a href="{{ url_for('misteri', misteri=current_misteri) }}">{{ puzzle[current_misteri-1].key  }}</a>.
      {% else %}
        Clica aquí per resoldre el misteri: <a href="{{ url_for('misteri', misteri=current_misteri) }}">{{ puzzle[current_misteri-1].key  }}</a>.
      {% endif %}
    </p>
  </div>
{% endblock %}